@model WebAutopark.DAL.Entities.Components
@{
	ViewData["Title"] = "Update Component";
}

<h2 class="display-6">Complete The Form</h2>
<form method="put" id="submitUpdateForm">
  <input type="hidden" value="@Model.ComponentId" name="ComponentId" />
  <fieldset>
    <div class="form-group">
      <label asp-for="Name" class="form-label mt-4">Name</label>
      <input asp-for="Name" class="form-control" aria-describedby="nameHelp" placeholder="Enter Name">
      @Html.ValidationMessageFor(m => m.Name)<br />
      <span asp-validation-for="Name" />
      <small id="nameHelp" class="form-text text-muted">Enter name of necessary component (e.g. cylinder head, distributor etc.)</small>
    </div>
    <hr size="3" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

<p>
    <a href="~/Component/Index">Back To Components List</a>
</p>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#submitUpdateForm').submit(function (event) {
                event.preventDefault();
                var fd = $(this).serialize();
                $.ajax({
                    url: '@Url.Action("Update", "Component")',
                    data: fd,
                    type: 'PUT',
                    success: function (response) {
                        window.location.href = '@Url.Action("Index", "Component")';
                    }
                })
            });
        });
    </script>
}