@{
    ViewData["Title"] = "Create Vehicle Type";
}

<form method="post">
    <label for="Name">Name</label><br>
    <input type="text" id="Name" name="Name" placeholder="Name"><br>
    <label for="TaxCoefficient">Tax Coefficient</label><br>
    <input id="TaxCoefficient" name="TaxCoefficient" placeholder="Tax Coefficient"><br>
   
    <input type="submit" value="Submit">
</form>