@model IEnumerable<WebAutopark.DAL.Entities.VehicleTypes>
@{
    ViewData["Title"] = "Vehicle Types View";
}

<div class="text-center">
    <table>
        <tr>
            <td>Name</td>
            <td>Tax coefficient</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var vehicleType in Model)
        {
            <tr>
                <td>@vehicleType.Name</td>
                <td>@vehicleType.TaxCoefficient</td>
                <td><a href="~/VehicleType/Delete/?vehicleTypeId=@vehicleType.VehicleTypeId">Delete</a></td>
                <td><a href="~/VehicleType/Update/?vehicleTypeId=@vehicleType.VehicleTypeId">Update</a></td>
            </tr>
        }
    </table>
    <p>
        <a href="~/VehicleType/Create">Create New Vehicle Type</a>
    </p>
</div>